<main id="edit" class="general">

  <!-- Nav -->
  <%= render :partial => "shared/nav", locals: {title: 'Edit Artwork'} %>

  <div class="container">
    <div class="inner">
      <h1>Parameters</h1>
      <hr>

      <%= form_for :artwork, url: artwork_path(@artwork), method: :patch do |f| %>
        <p class="float-left">
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </p>

        <!-- Artwork Type -->
        <div class="float-left">
          <h4><%= f.label :artwork_type%></h4>
          <p class="float-left">Painting
            <br>
            <%= f.radio_button :artwork_type, "painting" %>
          </p>
          <p class="float-left">Copic
            <br>
            <%= f.radio_button :artwork_type, "copic" %>
          </p>
          <p class="float-left">Sketch
            <br>
            <%= f.radio_button :artwork_type, "sketch" %>
          </p>
        </div>

        <p class="float-left">
          <%= f.label :media%><br>
          <%= f.text_field :media %>
        </p>

        <p class="float-left">
          <%= f.label :size %><br>
          <%= f.text_field :size %>
        </p>

        <div class="float-left">
          <h4><%= f.label :for_sale%></h4>
          <p class="float-left">True
            <br>
            <%= f.radio_button :for_sale, "true" %>
          </p>
          <p class="float-left">False
            <br>
            <%= f.radio_button :for_sale, "false" %>
          </p>
        </div>

        <p class="float-left">
          <%= f.label :price %><br>
          <%= f.text_field :price %>
        </p>

        <p class="float-left"><%= f.submit %></p>
        <br>
        <br>
        <br>
      <% end %>

      <h1>Preview</h1>
      <hr>
      <figure class="center-horizontal">
        <img src="<%= @artwork.image_url %>">
        <figcaption>
          <h2 class="title"><%= @artwork.title %></h2>
          <hr>
          <p><span class="media"><%= @artwork.media %></span> <span class="size"><%= @artwork.size %></span> <b style="float:right;"><span class="price"><%= @artwork.price %></span></b></p>
        </figcaption>
      </figure>
    </div>
  </div>
</main>
