<div class="general">
  <!-- Image previewer-->
  <%= render 'shared/preview' %>

  <!-- Nav -->
  <%= render :partial => "shared/nav", locals: {title: 'Artwork For Sale'} %>

  <!-- Art grid system -->
  <div class="container">
    <div class="inner">
      <div class="text-wrapper">
        <p style="font-size:20px;">The following pieces of art below are currently for sale. If you're interested, please reach out to me.</p>
        <hr style="margin-bottom:25px;">
      </div>
      <div class="artwork-wrapper pos-rel">
        <%= render :partial => "shared/images", object: @for_sale, as: 'images' %>
      </div>

      <hr>
      <%= link_to "Back", controller: "artwork", action: "index" %>
      <img class="pos-rel" src="https://s3.amazonaws.com/petermcburneyartwork/general/signature_black.png" style="width:300px;height:auto;float:right">
    </div>
  </div>

  <!-- Footer -->
  <%= render :partial => "shared/footer" %>
</div>
