<main id="new" class="general">

  <!-- Nav -->
  <%= render :partial => "shared/nav", locals: {title: 'Add new artwork'} %>

  <div class="container">
    <div class="inner">
      <div style="overflow:hidden;">

        <%= form_for :artwork do |f| %>
          <div class="float-left">
            <p><%= f.label :title %></p>
            <%= f.text_field :title %>
          </div>

          <%= f.submit %>
        <% end %>
      </div>

      <h1>Preview</h1>
      <hr>
      <figure class="center-horizontal">
        <img src="https://s3.amazonaws.com/petermcburneyartwork/paintings/breaching_orca.jpg">
        <figcaption>
          <h2 class="title"></h2>
          <hr>
          <p><span class="media"></span>, <span class="size"></span> <b style="float:right;"><span class="price"></span></b></p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
