<main id="new" class="general">

  <!-- Nav -->
  <%= render :partial => "shared/nav", locals: {title: 'Add new artwork'} %>

  <div class="container">
    <div class="inner">
      <h1>Parameters</h1>
      <hr>

      <div style="overflow:hidden;">
        <%= form_for :artwork, url: artwork_index_path, html: { multipart: true } do |f| %>
          <div style="overflow:hidden;">
            <!-- Title -->
            <section class="float-left">
              <h4><%= f.label :title %></h4>
              <%= f.text_field :title %>
            </section>

            <!-- URL -->
            <section class="float-left">
              <h4><%= f.label :image_url %></h4>
              <%= f.text_field :image_url %>
            </section>

            <!-- <section class="float-left">
              <h4><%= f.label :s3 %></h4>
              <%= f.file_field :s3 %>
            </section> -->

            <!-- Artwork Type -->
            <section class="float-left">
              <h4><%= f.label :artwork_type%></h4>
              <p class="float-left">Painting
                <br>
                <%= f.radio_button :artwork_type, "painting" %>
              </p>
              <p class="float-left">Copic
                <br>
                <%= f.radio_button :artwork_type, "copic" %>
              </p>
              <p class="float-left">Sketch
                <br>
                <%= f.radio_button :artwork_type, "sketch" %>
              </p>
            </section>

            <!-- Media -->
            <section class="float-left">
              <h4><%= f.label :media%></h4>
              <%= f.text_field :media %>
            </section>

            <!-- Size -->
            <section class="float-left">
              <h4><%= f.label :size %></h4>
              <%= f.text_field :size %>
            </section>

            <!-- For Sale -->
            <section class="float-left">
              <h4><%= f.label :for_sale%></h4>
              <p class="float-left">True
                <br>
                <%= f.radio_button :for_sale, "true"%>
              </p>
              <p class="float-left">False
                <br>
                <%= f.radio_button :for_sale, "false" %>
              </p>
            </section>

            <!-- Price -->
            <section class="float-left">
              <h4><%= f.label :price %></h4>
              <%= f.text_field :price %>
            </section>

            <!-- Featured -->
            <section class="float-left">
              <h4><%= f.label :featured%></h4>
              <p class="float-left">True
                <br>
                <%= f.radio_button :featured, "true" %>
              </p>
              <p class="float-left">False
                <br>
                <%= f.radio_button :featured, "false" %>
              </p>
            </section>

            <!-- Order -->
            <section class="float-left">
              <h4><%= f.label :order%></h4>
              <%= f.text_field :order, :class => 'order' %>
            </section>

            <!-- Submit -->
            <div class="float-left">
              <%= f.submit %>
            </div>
          </div>
        <% end %>
      </div>

      <hr>

      <!-- Make this preview dynamic -->
      <h1>Preview</h1>
      <hr>
      <figure class="center-horizontal">
        <img src="https://s3.amazonaws.com/petermcburneyartwork/paintings/breaching_orca.jpg">
        <figcaption>
          <h2 class="title"></h2>
          <hr>
          <p><span class="media"></span>, <span class="size"></span> <b style="float:right;"><span class="price"></span></b></p>
        </figcaption>
      </figure>
    </div>
  </div>

  <!-- Footer -->
  <%= render :partial => "shared/footer" %>
</main>
