<% images.each_with_index do |image, index| %>
  <div class="float-left">
    <div id="img<%= index %>" class="image margin-left-large" style="background:url(<%= image.image_url %>);background-size:cover;background-position: center center;">
      <div class="art-text">
        <h3 class="title pos-abs"><%= image.title %></h3>
        <hr class="pos-abs">
        <p class="media pos-rel">
          <% if image.respond_to?(:media) %>
            <%= image.media %>
          <% elsif image.respond_to?(:location) %>
            <%= image.location %>
          <% end %>
        </p>
        <% if image.respond_to?(:size) %>
          <p class="size pos-rel">
            <%= image.size %>
          </p>
        <% end %>
        <% if image.respond_to?(:for_sale) %>
          <% if image.for_sale %>
            <p class="price pos-rel">$ <%= image.price %></p>
          <% else %>
            <p class="price pos-rel">SOLD</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
