<% images.each_with_index do |image, index| %>
  <div class="float-left">
    <!-- <%= link_to edit_artwork_path(image) do %> -->
      <div id="img<%= index %>" class="image margin-left-large" style="background:url(<%= image.image_url %>);background-size:cover;background-position: center center;">
        <div class="art-text">
          <h3 class="title pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important"><%= image.title %></h3>
          <hr class="pos-abs" style="width:100%;top:30px;">
          <p class="media pos-rel col-white" style="top:25px;left:5px;opacity:1 !important">
            <% if image.respond_to?(:media) %>
              <%= image.media %>
            <% elsif image.respond_to?(:location) %>
              <%= image.location %>
            <% end %>
          </p>
          <% if image.respond_to?(:size) %>
            <p class="size pos-rel col-white" style="top:25px;left:5px;opacity:1 !important">
              <%= image.size %>
            </p>
          <% end %>
          <% if image.respond_to?(:for_sale) %>
            <% if image.for_sale %>
              <p class="price pos-rel col-white" style="top:25px;left:5px;opacity:1 !important">$ <%= image.price %></p>
            <% else %>
              <p class="price pos-rel col-white" style="top:25px;left:5px;opacity:1 !important">SOLD</p>
            <% end %>
          <% end %>
        </div>
      </div>
    <!-- <% end %> -->
  </div>
<% end %>
