<div class="general">
  <!-- Nav -->
  <%= render :partial => "shared/nav", locals: {title: 'Admin'} %>

  <!-- Art grid system -->
  <div class="container">
    <div class="inner">

      <!-- Featured Artwork -->
      <div class="text-wrapper">
        <%= link_to "Add new artwork", controller: "artwork", action: "new" %>
        <%= link_to "Add new photo", controller: "photos", action: "new" %>
        <h1>Featured Artwork</h1>
        <hr style="margin-bottom:25px;">
      </div>
      <%= render :partial => "shared/artwork", object: @featured_artwork, as: 'images' %>

      <!-- For Sale -->
      <div class="text-wrapper">
        <h1>For Sale</h1>
        <hr style="margin-bottom:25px;">
      </div>
      <%= render :partial => "shared/artwork", object: @for_sale_artwork, as: 'images' %>

      <!-- Paintings -->
      <div class="text-wrapper">
        <h1>Paintings</h1>
        <hr style="margin-bottom:25px;">
      </div>
      <%= render :partial => "shared/artwork", object: @painting_artwork, as: 'images' %>

      <!-- Copic -->
      <div class="text-wrapper">
        <h1>Copic</h1>
        <hr style="margin-bottom:25px;">
      </div>
      <%= render :partial => "shared/artwork", object: @copic_artwork, as: 'images' %>

      <!-- Sketches -->
      <div class="text-wrapper">
        <h1>Sketches</h1>
        <hr style="margin-bottom:25px;">
      </div>
      <%= render :partial => "shared/artwork", object: @sketch_artwork, as: 'images' %>

      <!-- Featured Photos -->
      <div class="text-wrapper">
        <h1>Featured Photos</h1>
        <hr style="margin-bottom:25px;">
      </div>
      <%= render :partial => "shared/photos", object: @featured_photos, as: 'images' %>

      <!-- Nature Photos -->
      <div class="text-wrapper">
        <h1>Nature Photos</h1>
        <hr style="margin-bottom:25px;">
      </div>
      <%= render :partial => "shared/photos", object: @nature_photos, as: 'images' %>

      <!-- Wildlife Photos -->
      <div class="text-wrapper">
        <h1>Wildlife Photos</h1>
        <hr style="margin-bottom:25px;">
      </div>
      <%= render :partial => "shared/photos", object: @wildlife_photos, as: 'images' %>

      <!-- Location Photos -->
      <div class="text-wrapper">
        <h1>Location Photos</h1>
        <hr style="margin-bottom:25px;">
      </div>
      <%= render :partial => "shared/photos", object: @location_photos, as: 'images' %>
    </div>
  </div>

  <!-- Footer -->
  <%= render :partial => "shared/footer" %>
</div>
