<div class="landing general">
  <!-- Image previewer-->
  <%= render 'shared/preview' %>

  <!-- Main section -->
  <main>
    <section>
      <h1>Peter McBurney's Art</h1>
      <h2>Artist, Photographer, and Musician.</h2>
      <hr>
      <h4>
        <span class="grow"><%= link_to 'Profile', controller: 'profile' %></span>
        <span><%= link_to 'Artwork', controller: 'artwork' %></span>
        <span><%= link_to 'Photography', controller: 'photos' %></span>
        <span><%= link_to 'Commissions', controller: 'commissions' %></span>
        <span><%= link_to 'Contact', controller: 'contact' %></span>
      </h4>
      <hr>
      <div class="social center-horizontal">
        <div class="circle float-left">
          <a href="https://www.facebook.com/PeterMcBurneyArt/?fref=ts"><img class="icon" src="assets/social/fb.png" style="width:28px;height:auto;" /></a>
        </div>
        <div class="circle float-left margin-left-medium">
          <a href="https://twitter.com/PeterMcBurney"><img class="icon" src="assets/social/tw.png" style="width:28px;height:auto;" /></a>
        </div>
        <div class="circle float-left margin-left-medium">
          <a href="https://www.instagram.com/petermcburney/"><img class="icon" src="assets/social/ig.png" style="width:28px;height:auto;" /></a>
        </div>
        <div class="circle float-left margin-left-medium">
          <a href="https://www.linkedin.com/in/peter-mcburney-a3335984?authType=NAME_SEARCH&authToken=y0cJ&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A299465607%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1458945967540%2Ctas%3Apet"><img class="icon" src="assets/social/li.png" style="width:28px;height:auto;" /></a>
        </div>
      </div>
    </section>
    <img class="img" src="https://s3.amazonaws.com/petermcburneyartwork/copic/numa.jpg"></img>

    <!-- Featured Artwork -->
    <div class="pos-rel">
      <img class="img" src="assets/banners/abu.png"></img>
      <h1 class="margin-none pos-abs" style="top:5vw;left:20px;z-index:2;width:100%;text-align:center;">Featured Artwork</h1>
    </div>
    <div class="container">
      <div class="inner">
        <div class="artwork-wrapper pos-rel">
          <%= render :partial => "shared/images", object: @featured_artwork, as: 'images' %>
        </div>
      </div>
    </div>

    <!-- Featured Photography -->
    <div class="pos-rel">
      <img class="img" src="assets/banners/falls.png"></img>
      <h1 class="margin-none pos-abs" style="top:5vw;left:20px;z-index:2;width:100%;text-align:center;">Featured Photography</h1>
    </div>
    <div class="container">
      <div class="inner">
        <div class="photo-wrapper pos-rel">
          <%= render :partial => "shared/images", object: @featured_photos, as: 'images' %>
        </div>
      </div>
    </div>

    <!-- Instagram Feed -->
    <div class="pos-rel">
      <img class="img" src="assets/banners/owl.png"></img>
      <h1 class="margin-none pos-abs" style="top:5vw;left:20px;z-index:2;width:100%;text-align:center;">Instagram Feed</h1>
    </div>

    <!-- Footer -->
    <footer>
      <div class="pos-rel">
        <img class="img" src="assets/banners/lake.png"></img>
        <h2 class="margin-none pos-abs" style="top:5vw;left:20px;z-index:2;width:100%;text-align:center;">Copyright &copy; Peter McBurney 2016</h2>
      </div>
    </footer>
  </main>
</div>
