<main id="edit" class="general">

  <!-- Nav -->
  <%= render :partial => "shared/nav", locals: {title: 'Edit Photo'} %>

  <div class="container">
    <div class="inner">
      <h1>Parameters</h1>
      <hr>

      <%= form_for :photo, url: photo_path(@photo), method: :patch do |f| %>
        <div style="overflow:hidden;">
          <!-- Title -->
          <section class="float-left">
            <h4><%= f.label :title %></h4>
            <%= f.text_field :title %>
          </section>

          <!-- URL -->
          <section class="float-left">
            <h4><%= f.label :image_url %></h4>
            <%= f.text_field :image_url %>
          </section>

          <!-- s3 -->
          <!-- <section class="float-left">
            <h4><%= f.label :s3 %></h4>
            <%= f.file_field :s3 %>
          </section> -->

          <!-- Image Type -->
          <section class="float-left">
            <h4><%= f.label :image_type%></h4>
            <p class="float-left">Nature
              <br>
              <%= f.radio_button :image_type, "nature" %>
            </p>
            <p class="float-left">Wildlife
              <br>
              <%= f.radio_button :image_type, "wildlife" %>
            </p>
            <p class="float-left">Locations
              <br>
              <%= f.radio_button :image_type, "locations" %>
            </p>
          </section>

          <!-- Location -->
          <section class="float-left">
            <h4><%= f.label :location%></h4>
            <%= f.text_field :location %>
          </section>

          <!-- Featured -->
          <section class="float-left">
            <h4><%= f.label :featured%></h4>
            <p class="float-left">True
              <br>
              <%= f.radio_button :featured, "true" %>
            </p>
            <p class="float-left">False
              <br>
              <%= f.radio_button :featured, "false" %>
            </p>
          </section>

          <!-- Order -->
          <section class="float-left">
            <h4><%= f.label :order%></h4>
            <%= f.text_field :order, :class => 'order' %>
          </section>

          <!-- Submit -->
          <div class="float-left">
            <%= f.submit %><br>
            <%= link_to 'Destroy', artwork_path(@artwork), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' } %>
          </div>
        </div>
      <% end %>

      <h1>Preview</h1>
      <hr>
      <figure class="center-horizontal">
        <img src="<%= @photo.image_url %>">
        <figcaption>
          <h2 class="title"><%= @photo.title %></h2>
          <hr>
          <p><span class="media"><%= @photo.location %></span></p>
        </figcaption>
      </figure>
    </div>
  </div>

  <!-- Footer -->
  <%= render :partial => "shared/footer" %>
</main>
