<!DOCTYPE html>
<html>
<head>
  <title>Peter McBurney</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <meta charset="UTF-8">
  <meta name="description" content="The personal website for Peter Mcburney - Artist, Photographer, Musician, and Teacher.">
  <meta name="keywords" content="Peter,McBurney,Art,Artist,Photographer,Musician,Teacher,Stamford,Nature,Wildlife">
  <meta name="author" content="Peter McBurney">
</head>
<body>
<%= yield %>
</body>
</html>
